.flex button.active {
  background-color: rgba(19, 78, 163, 1) !important;
  color: white !important;
}
.background-svg {
  position: absolute;
  top: 0;
  right: 0; /* Set to right instead of left */
  width: 15%; /* Adjust as needed */
  height: 100%;
  pointer-events: none;
}

.content {
  z-index: 1;
}
